style
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}
*{
    font-size:15px ;
    font-family:Arial, Helvetica, sans-serif ;
    background: linear-gradient(to right, rgb(112, 225, 245), rgb(255, 209, 148));
}
.container {
    max-width: 800px;
    margin: auto;
}
h1, h2, h3 {
    margin-top: 0;
}
p {
    margin-bottom: 10px;
}
ul {
    padding-left: 20px;
}
